/* WeatherComponent.css */

body {
    color: white;
}
.weather-container {
    display: flex;
    width: 90%;
    height: 80vh;
    max-width: 1300px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    gap: 2%;
}

.current-weather {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    height: 100%;
    border-radius: 15px;
}

.forecast-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color:rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 15px;
}
